In [1]:
import os
import csv
import pandas as pd
import numpy as np

In [2]:
zip_code = "data_set/zip_code.csv"
zip_code_df = pd.read_csv(zip_code)
zip_code_df.head()

FileNotFoundError: [Errno 2] File Data Set/zip_code.csv does not exist: 'Data Set/zip_code.csv'

In [3]:
median = "Data Set/median_incomes.csv"
median_income_df = pd.read_csv(median, quoting=csv.QUOTE_MINIMAL, skipinitialspace=True, )
median_income_df.head()

         Location  Household Type  TimeFrame DataFormat         Data   Fips
0       Riverdale  All Households       2005    Dollars   $60,686.22    208
1  Williamsbridge  All Households       2005    Dollars   $49,881.99    212
2     Throgs Neck  All Households       2005    Dollars   $55,211.29    210
3  Pelham Parkway  All Households       2005    Dollars   $50,494.64    211
4      Morrisania  All Households       2005    Dollars   $23,524.24    203

In [4]:
median_income_df.dtypes

Location          object
Household Type    object
TimeFrame          int64
DataFormat        object
Data              object
Fips               int64
dtype: object

In [11]:
household = median_income_df.loc[(median_income_df['Household Type'] == 'All Households')]

In [12]:
time = household.loc[(household["TimeFrame"] == 2018)]
time.tail()

,Location,Household Type,TimeFrame,DataFormat,Data,Fips
3440,Brooklyn,All Households,2018,Dollars,"$61,220.00",36047
3441,Manhattan,All Households,2018,Dollars,"$85,066.00",36061
3442,Queens,All Households,2018,Dollars,"$69,320.00",36081
3443,Staten Island,All Households,2018,Dollars,"$82,166.00",36085
3444,New York City,All Households,2018,Dollars,"$63,799.00",3651000

In [17]:
boroughs = time.loc[time["Location"].str.contains('Bronx', '' )]
# boroughs

In [24]:
borough = boroughs.drop(['Household Type', 'DataFormat', 'TimeFrame', 'Fips'], axis=1)

borough.columns = ["Borough", "average_household_income"]
borough

                        Borough average_household_income
3380       Battery Park/Tribeca             $148,152.00
3381          Greenwich Village             $148,152.00
3382            Lower East Side              $48,376.00
3383            Chelsea/Clinton             $101,080.00
3384  Midtown Business District             $101,080.00
...                         ...                      ...
3439                      Bronx              $38,467.00
3440                   Brooklyn              $61,220.00
3441                  Manhattan              $85,066.00
3442                     Queens              $69,320.00
3443              Staten Island              $82,166.00

[64 rows x 2 columns]

In [27]:
spec_chars = [",", "$"]


for char in spec_chars:
    borough['average_household_income'] = borough['average_household_income'].str.replace(char,'')

borough.head()

                        Borough average_household_income
3380       Battery Park/Tribeca              148 152.00
3381          Greenwich Village              148 152.00
3382            Lower East Side               48 376.00
3383            Chelsea/Clinton              101 080.00
3384  Midtown Business District              101 080.00

In [28]:
borough['average_household_income'] = borough['average_household_income'].str.split().str.join("")

In [29]:
borough.head()

                        Borough average_household_income
3380       Battery Park/Tribeca                148152.00
3381          Greenwich Village                148152.00
3382            Lower East Side                 48376.00
3383            Chelsea/Clinton                101080.00
3384  Midtown Business District                101080.00

In [ ]:
# median_income_df['Data'] =  median_income_df['Data'].astype(float)
# median_income_df

In [33]:
borough['average_household_income'] = borough['average_household_income'].astype(float)

In [34]:
borough.dtypes

Borough                      object
average_household_income    float64
dtype: object

In [35]:
borough.loc

                        Borough  average_household_income
3380       Battery Park/Tribeca                  148152.0
3381          Greenwich Village                  148152.0
3382            Lower East Side                   48376.0
3383            Chelsea/Clinton                  101080.0
3384  Midtown Business District                  101080.0
...                         ...                       ...
3439                      Bronx                   38467.0
3440                   Brooklyn                   61220.0
3441                  Manhattan                   85066.0
3442                     Queens                   69320.0
3443              Staten Island                   82166.0

[64 rows x 2 columns]

In [ ]:
#All I did so far was import the CSVs. I'm trying to merge them by borough. So before that we
#need to clean the zip code data to be grouped by borough. Sum it mayeb? idk
#Then under location in the median income df at the end of each year is the overall amount for
# the boroughs. we need to trim the old data and the data keep only 2018. Then just use the borough
#numbers not the neighborhood numbers

In [ ]:
# median_income_df.rename(columns = { "Data" : "Average Household Income"}, inplace = True)

In [ ]:

df_filtered_year = median_income_df.loc[(median_income_df["TimeFrame"] == 2018)]
df_filtered_household = df_filtered_year.loc[(df_filtered_year["Household Type"] == "All Households")]
df_filtered_household.tail(6)
#df_filtered_household.sort_values(by=['Data'], ascending=False )
almost_done = df_filtered_household.drop(df_filtered_household.index[0:59])
#almost_done.head(6)
column = almost_done.drop(almost_done.index[5])
#column.head(10)
final = column.drop(columns=['Household Type', 'DataFormat', 'Fips'])
#final.head()

# final_median = final.rename(columns={"Location": "Borough", "TimeFrame": "Year", " Data": "Average Household Income"})
# final_median.head()

In [ ]:
final.columns = ["Borough", "Year", "average_household_income"]
final

In [ ]:
average_household_income = average_household_income.astype(float)

In [ ]:
final

In [ ]:

final['average_household_income'] = pd.to_numeric(final['average_household_income'])

In [ ]:
# final['Average Household Income'] = final['Average Household Income'].astype(float)