In [100]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt

In [101]:
median = "../Data Set/QuickFacts Aug-06-2020.xls"
money_stuff_df = pd.read_excel('QuickFacts Aug-06-2020.xl', index_col=0) 
#money_stuff_df = pd.read_csv(median)
money_stuff_df.head()
before_swap = money_stuff_df.rename(columns={"New York County (Manhattan Borough), New York":"Manhattan", 
                                             "Bronx County (Bronx Borough), New York":"Bronx", 
                                             "Queens County (Queens Borough), New York":"Queens", 
                                             "Kings County (Brooklyn Borough), New York":"Brooklyn", 
                                             "Richmond County (Staten Island Borough), New York": "Staten Island"}
                                   )
print(before_swap.head())
before_swap_transposed = before_swap.T
fix_header = before_swap_transposed.rename(columns={
                                                    "New York County (Manhattan Borough), New York":"Manhattan", 
                                                    "Bronx County (Bronx Borough), New York":"Bronx", 
                                                    "Queens County (Queens Borough), New York":"Queens", 
                                                    "Kings County (Brooklyn Borough), New York":"Brooklyn", 
                                                    "Richmond County (Staten Island Borough), New York": "Staten Island"}
                                   )
fix_header.head()

                                             Borough  Manhattan      Bronx  \
0  Median household income (in 2018 dollars), 201...  82459.000  38085.000
1  Per capita income in past 12 months (in 2018 d...  72832.000  20850.000
2                        Persons in poverty, percent      0.156      0.273

      Queens   Brooklyn  Staten Island  New York city, New York
0  64987.000  56015.000      79267.000                60762.000
1  30289.000  31984.000      34987.000                37693.000
2      0.116      0.189          0.117                    0.189

,0,1,2
Borough,"Median household income (in 2018 dollars), 201...",Per capita income in past 12 months (in 2018 d...,"Persons in poverty, percent"
Manhattan,82459,72832,0.156
Bronx,38085,20850,0.273
Queens,64987,30289,0.116
Brooklyn,56015,31984,0.189

In [103]:
fix_header.reset_index()

,index,0,1,2
0,Borough,"Median household income (in 2018 dollars), 201...",Per capita income in past 12 months (in 2018 d...,"Persons in poverty, percent"
1,Manhattan,82459,72832,0.156
2,Bronx,38085,20850,0.273
3,Queens,64987,30289,0.116
4,Brooklyn,56015,31984,0.189
5,Staten Island,79267,34987,0.117
6,"New York city, New York",60762,37693,0.189

In [104]:
new_header = fix_header.iloc[0] #grab the first row for the header
new = fix_header[1:] #take the data less the header row
new.columns = new_header #set the header row as the df header
#new.head()
new = new.astype(float).copy()
new.head()

Borough,"Median household income (in 2018 dollars), 2014-2018","Per capita income in past 12 months (in 2018 dollars), 2014-2018","Persons in poverty, percent"
Manhattan,82459.0,72832.0,0.156
Bronx,38085.0,20850.0,0.273
Queens,64987.0,30289.0,0.116
Brooklyn,56015.0,31984.0,0.189
Staten Island,79267.0,34987.0,0.117

In [105]:
print(list(new))

['Median household income (in 2018 dollars), 2014-2018', 'Per capita income in past 12 months (in 2018 dollars), 2014-2018', 'Persons in poverty, percent']

In [98]:
new = new.reset_index()
#new.head()

Borough,index,"Median household income (in 2018 dollars), 2014-2018","Per capita income in past 12 months (in 2018 dollars), 2014-2018","Persons in poverty, percent"
0,Manhattan,82459.0,72832.0,0.156
1,Bronx,38085.0,20850.0,0.273
2,Queens,64987.0,30289.0,0.116
3,Brooklyn,56015.0,31984.0,0.189
4,Staten Island,79267.0,34987.0,0.117

In [99]:
renamed = new.rename(columns={"Borough":"TEMP","index":"Borough"})
renamed.head()

Borough,Borough,"Median household income (in 2018 dollars), 2014-2018","Per capita income in past 12 months (in 2018 dollars), 2014-2018","Persons in poverty, percent"
0,Manhattan,82459.0,72832.0,0.156
1,Bronx,38085.0,20850.0,0.273
2,Queens,64987.0,30289.0,0.116
3,Brooklyn,56015.0,31984.0,0.189
4,Staten Island,79267.0,34987.0,0.117

In [80]:
by_boro = "../Data Set/by-boro.csv"
by_boro_df = pd.read_csv(by_boro)
by_boro_df = by_boro_df.rename(columns={"BOROUGH_GROUP":"Borough"})

In [29]:
avg_income.dtypes

dtype('O')

In [77]:
df_merge = pd.merge(by_boro_df, new, on='Borough')

KeyError: 'Borough'

In [81]:
print(list(by_boro_df))

['Borough', 'CASE_RATE', 'HOSPITALIZED_RATE', 'DEATH_RATE', 'CASE_COUNT', 'HOSPITALIZED_COUNT', 'DEATH_COUNT']

In [97]:
print(list(new))

['Median household income (in 2018 dollars), 2014-2018', 'Per capita income in past 12 months (in 2018 dollars), 2014-2018', 'Persons in poverty, percent']