In [1]:
#dependices
import os
import csv
import pandas as pd
import gmaps
from api_keys import g_key

In [2]:
#read csv in
df = "../data_set/lat_merge.csv"
#show DF to make a=sure it imported
lat_merge = pd.read_csv(df)
lat_merge.head()

,Borough,case_rate,hospitalized_rate,death_rate,case_count,hospitalized_count,death_count,Year,Average Household Income,Lat,Lng
0,Bronx,3494.37,883.30,274.70,50044,12650,3934,2018,38467.0,40.8448,-73.8648
1,Brooklyn,2403.26,612.78,217.78,62072,15827,5625,2018,61220.0,40.6782,-73.9442
2,Manhattan,1772.15,502.24,153.99,28863,8180,2508,2018,85066.0,40.7831,-73.9712
3,Queens,2970.68,760.41,261.57,67699,17329,5961,2018,69320.0,40.7282,-73.7949
4,Staten Island,3078.04,507.37,188.16,14657,2416,896,2018,82166.0,40.5795,-74.1502

In [3]:
#create heatmap of concentration of cases within boroughs
#configure gmaps
gmaps.configure(api_key=g_key)

#store lat/lng locations in a variable
locations = lat_merge[["Lat","Lng"]]

#store total cases in a variable
cases = lat_merge["case_count"]
death = lat_merge["death_count"]

In [4]:
#create heatmap layer of cases by borough
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=cases, dissipating=False, max_intensity=70000, point_radius=0.08)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
#create heatmap layer of deaths by borough
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=death, dissipating=False, max_intensity=6000, point_radius=0.08)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))